.publication_show_abstract:hover ~ .publication_abstract {
    display: block;
    visibility: visible;
    font-size: 80%;
}

.publication_abstract {
    display: none;
    visibility: hidden;
}

.publication_tag {
    border-radius: 6px;
    padding: 6px;
    font-size: 80%;
    display: inline-block;
}